<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="a"></div>
<div id="b"></div>
<script>
    //T1
    var a=document.getElementById('a');
    function compile(template){
        var evalExpr = /<%=(.+?)%>/g;
        var expr = /<%([\s\S]+?)%>/g;
        template = template
          .replace(evalExpr, '`); \n  echo( $1 ); \n  echo(`')
          .replace(expr, '`); \n $1 \n  echo(`');
        template = 'echo(`' + template + '`);';
        var script =
          `(function parse(data){
                var output = "";
                function echo(html){
                    output += html;
                }
                ${ template }
                    return output;
          })`;
        return script;
    }
    var template = `
            <ul>
              <% for(var i=0; i < data.length; i++) {%>
                <li><%= data[i] %></li>
              <% } %>
            </ul>
    `;

    var parse = eval(compile(template));
    a.innerHTML = parse(data=[ "broom", "mop", "cleaner" ]);

    //T2
    var b=document.getElementById('b');
    var myBooks=['William`s Job','William`s J'];
    console.log(myBooks[0].title)
    var libraryHtml =`
          <ul>
            #for book in ${myBooks}

              <li><i>#{book}</i></li>
            #end
          </ul>
        `;
    b.innerHTML=libraryHtml;

    //标签模板
    var a = 5, b = 10;
    function tag(s, v1, v2) {
        console.log(s[0]);  // "Hello "
        console.log(s[1]);  // " world "
        console.log(s[2]);  // ""
        console.log(v1);    // 15
        console.log(v2);    // 50
        return "OK";        // "OK"
    }
    tag`Hello ${ a + b } world ${ a * b}`;
    //tag(['Hello ', ' world ', ''], 15, 50)






</script>
</body>
</html>